<div class="animated fadeIn">
  <div class="row">
    <div class="card col-sm-12">
        <div class="card-block">
                
                    <div class="offset-md-3 col-md-6 well">
                          <div class="card card-inverse card-warning" style="height: 200px;">
                            
                            <div class="card-block pb-0">                              
                                <h2 class="mb-0 mt-2 text-center" style="font-size:5rem;">{{val}}</h2>
                            </div>
                             
                          </div>  

                            <div class="mt-1 mb-1 ">
                              <button type="button" class="btn btn-primary" (click)="increase()">Increase</button>
                              &nbsp; 
                              <button type="button" class="btn btn-danger" (click)="decrease()">Decrease</button>
                          </div>
                    </div>
         
        
         </div> <!-- end card block-->
        </div>
    </div>
</div>