// Here you can add other styles
tr:last-child td { 
    border-bottom: 1px solid #cfd8dc;
}
.table-box-shadow{
    box-shadow: 1px 1px 1px #888888;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes backgroundcolor {
    0%   {background: rgba(5, 5, 5, 0);}
    100% {background:rgba(5, 5, 5, 0.11)}
}

/* Standard syntax */
@keyframes backgroundcolor {
    0%   {background: rgba(5, 5, 5, 0);}
    100% {background:rgba(5, 5, 5, 0.15)}
}
.pre-loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999999;
    -webkit-animation: backgroundcolor 2s forwards; /* Safari 4.0 - 8.0 */
    animation: backgroundcolor 2s forwards;
    &.fixed {
        position: fixed;
    }
}
.pre-loading i{
    position: absolute;
    left:50%;
    top:30%;
}
